@{
    ViewData["Title"] = "Tus Carrito de Compra";
}
@if (TempData["AlertMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["AlertMessage"]');
    </script>
}
<div class="shopping-cart">
    <h2>Carrito de compras</h2>
    @if(ViewBag.ListaCarrito != null)
    {
        <div class="cart-items">
            @foreach (Publicacion publicacion in ViewBag.ListaCarrito)
            {
                <div class="cart-item">
                    <img src="@publicacion.imagen" alt="" class="item-image" />
                    <div class="item-details">
                        <h3>@ViewBag.nombreLibro</h3>
                        <p class="item-price">@publicacion.precio.ToString("C")</p>
                    @switch(@ViewBag.estado){
                    case "Excelente":
                    <p class= "datos">Estado: <span class="estado1">@ViewBag.estado</span></p>
                    break;

                    case "Muy Bueno":
                    <p class= "datos">Estado: <span class="estado2">@ViewBag.estado</span></p>
                    break;

                    case "Bueno":
                    <p class= "datos">Estado: <span class="estado3">@ViewBag.estado</span></p>
                    break;

                    case "Regular":
                    <p class= "datos">Estado: <span class="estado4">@ViewBag.estado</span></p>
                    break;

                    case "Muy Usado":
                    <p class= "datos">Estado: <span class="estado5">@ViewBag.estado</span></p>
                    break;                
            }
                    </div>

                    <form action='@Url.Action("EliminarPubliCarrito")' method="post">
                        <input type="hidden" name="idPublicacion" value="@publicacion.id" />
                        <button class="delete-button"> <i class="bi bi-trash3"></i> </button>
                    </form>
                    
                </div>
            }
        </div>
        <div class="cart-summary">
            <h3>Resumen de compra:</h3>
            <p>TOTAL: <span>$@ViewBag.TotalCarrtio</span></p>
            <button class="purchase-button">COMPRAR</button>
        </div>
    }
    else
    {
        <p>Tu carrito esta vacio! </p>
    }
</div>
