@{
    ViewData["Title"] = "Home";
}
<div class="container-rebooking">
    <div class="row sobre-nosotros">
        <div class="col">
            <h2>Sobre Nosotros</h2>
            <p>
                Somos reBOOKing, una compañía que busca facilitar la compra de libros
                con precios accesibles a estudiantes de ORT para que puedan tener una educación de calidad.
                <a href='@Url.Action("ConoceMas", "Home")'>Conoce más sobre nosotros.</a>
            </p>
        </div>
        <div class="col text-right">
            <img src="../img/pilaLibros.png" alt="Libros" class="img-libro"/>
        </div>
    </div>
    
    <div class="filters-rebooking">
        <form asp-action="Index" method="get">
            <select name="estado" class="form-select-rebooking">
                <option value="">Estado</option>
                <option value="5">Excelente</option>
                <option value="4">Muy Bueno</option>
                <option value="3">Bueno</option>
                <option value="2">Regular</option>
                <option value="1">Muy usado</option>
            </select>
            <select name="materia" class="form-select-rebooking">
                @foreach (Materia materia in ViewBag.ListaMaterias)
                {
                    <option class="dropdown-button" value="@materia.id">@materia.nombre</option>
                }
            </select>

            <select name="precio" class="form-select-rebooking">
                <option value="">Precio</option>
                <option value="5000">Hasta $5.000</option>
                <option value="10000">Hasta $10.000</option>
                <option value="15000">Hasta $15.000</option>
                <option value="20000">Hasta $20.000</option>
            </select>
            <select name="anio" class="form-select-rebooking">
                <option value="">Año</option>
                <option value="1">1er año</option>
                <option value="2">2do año</option>
                <option value="3">3er año</option>
                <option value="4">4to año</option>
                <option value="5">5to año</option>
            </select>
            <button type="submit" class="btn-filter-rebooking">Filtrar</button>
        </form>
    </div>

    <div class="row publicaciones-row">
    
    @foreach (Publicacion publicacion in ViewBag.listaPublicaciones)
    {
        <div class="col-md-3">
            <a href='@Url.Action("Publicacion", "Home", new { id = @publicacion.id_libro })' class="card-rebooking">
                <div class="card-rebooking">
                    <img class="card-img-top-rebooking" src="@publicacion.imagen" alt="@publicacion.id_libro" />
                    <div class="card-body-rebooking">
                        <h5 class="card-title-rebooking">@BD.ObtenerNombreLibroPorPublicacion(publicacion.id_libro)</h5>
                        <p class="card-price-rebooking">@publicacion.precio.ToString("C")</p>
                    </div>
                </div>
            </a>
        </div>
    }

    </div>